#==============================
# IDEs
#==============================
.vs
.vscode
.idea

#==============================
# Python
#==============================
__pycache__/
.venv/
venv/

#==============================
# Misc
#==============================
*.exe
*.sha1
*.zip
